

#head {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000;
    margin: 100px;
    background-color :#ffffff


}

 #body {
     border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
     border: 5px solid #000000;
     margin: 250px;
     background-color: #7D7D7D
 }

 #chart {
     border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
     border: 5px solid #000000;
     margin: 250px;
     background-color: #ffffff

 }

 #Top5{
     text-align: center;
     border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
     border: 5px solid #000000;
     margin: 400px;
     background-color: #8b0000;
 }

#pbody {    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000;
    margin: 250px;
    background-color: #7D7D7D

}
 #chart2 {
     border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
     -webkit-border-radius: 10px 10px 10px 10px;
     border: 5px solid #000000;
     margin: 250px;
     background-color: #ffffff

 }
#pbody {    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000;
    margin: 250px;
    background-color: #7D7D7D

}
#gender
{
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000;
    margin: 400px;
    background-color: #8b0000;
}

